@import './libs/normalize.css';
/* ------------------------------------------------- */
:root {
	--body-color: #eee;
	--header-color: #fff;
	--text-color: #000;
	--back-to-top-color: #000;
	--back-to-top-text-color: #fff;
	--border-bottom-color: #aeadad;
	--toggle-color: #eee;
	--product-color: #fff;
	--box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
	--date-added: #999;
	--buy-color: #000;
	--buy-text-color: #fff;
	--footer-color: #ddd;
	--footer-link: #555;
}
body.dark-theme {
	--body-color: #161616;
	--header-color: #282828;
	--text-color: #fff;
	--back-to-top-color: #fff;
	--back-to-top-text-color: #000;
	--border-bottom-color: #595959;
	--toggle-color: #595959;
	--product-color: #2a2a2a;
	--box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.1);
	--date-added: #bbb;
	--buy-color: #fff;
	--buy-text-color: #000;
	--footer-color: #222;
	--footer-link: #999;
}
/* ------------------------------------------------- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	max-width: 1200px;
	font-family: sans-serif;
	margin: 0 auto;
	background-color: var(--body-color);
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
}
.theme-toggle {
	background-color: var(--toggle-color);
	color: var(--text-color);
	padding: 0.5rem;
	border: none;
	cursor: pointer;
}
.theme-toggle:hover {
	border-radius: 20px;
	transition: border-radius 0.2s linear;
}
/* ------------------------------------------------ */
header {
	display: flex;
	align-items: center;
	position: sticky;
	padding: 25px 40px;
	top: 0;
	background-color: var(--header-color);
	z-index: 1;
	border-radius: 15px;
	margin-bottom: 50px;
	z-index: 3;
}
.logo {
	font-size: 1.5rem;
	color: var(--text-color);
}
.burger {
	display: none;
}
.product-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
header h1 {
	margin: 0 1rem;
	font-size: 1.5rem;
	line-height: 3rem;
	text-transform: uppercase;
}
header .category-menu {
	margin-left: auto;
}
header .category-menu ul {
	display: flex;
	list-style: none;
}
header .category-menu li {
	margin: 0 0.5rem;
}
header .category-menu a {
	color: var(--text-color);
	text-decoration: none;
	font-size: 1.1rem;
	border-bottom: 0;
}
header .category-menu a:after,
footer ul li a:after {
	background-color: var(--border-bottom-color);
	display: block;
	content: '';
	height: 2px;
	width: 0%;
	transition: width 0.3s ease-in-out;
}
header .category-menu a:hover:after,
header .category-menu a:focus:after,
footer ul li a:hover:after,
footer ul li a:focus:after {
	width: 100%;
}
/* -------------------------------------------------- */
section {
	padding: 2rem;
	margin-top: -1rem;
}
section h2 {
	margin-bottom: 10px;
}
.back-to-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
}
.back-to-top button {
	background-color: var(--back-to-top-color);
	color: var(--back-to-top-text-color);
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	cursor: pointer;
}
section h2 {
	margin-top: 0;
	font-size: 2rem;
	text-transform: uppercase;
	color: var(--text-color);
}
.product-card {
	background-color: var(--product-color);
	box-shadow: var(--box-shadow);
	padding: 1rem;
	margin-bottom: 2rem;
	width: calc(80% - 1rem);
}
.product-card img {
	width: 100%;
}
.product-card h3 {
	margin: 0.5rem 0;
	font-size: 1.25rem;
	color: var(--text-color);
}
.product-card .date-added {
	margin: 0.5rem 0;
	font-size: 0.75rem;
	color: var(--date-added);
}
.product-card .buy-button {
	background-color: var(--buy-color);
	color: var(--buy-text-color);
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	cursor: pointer;
}
/* ------------------------------------------------- */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: var(--text-color);
	box-shadow: var(--box-shadow);
}
.modal.open {
	display: flex;
}
.modal-box {
	background: var(--header-color);
	width: 500px;
	padding: 45px;
	z-index: 12;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
}
h3 + label {
	color: var(--text-color);
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}
input[type='number'] {
	text-align: center;
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.3rem;
	border: 1px solid var(--border-bottom-color);
	background-color: var(--product-color);
	color: var(--text-color);
}
.modal-box h3 {
	margin-bottom: 25px;
	font-size: 1.5rem;
	text-transform: uppercase;
	color: var(--text-color);
}
.radio-box {
	margin: 18px;
	gap: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}
.radio-color {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin: 5px;
}
.radio-block {
	display: flex;
	align-items: center;
}
.color1 {
	background-color: #f5bb19;
}
.color2 {
	background-color: #99e665;
}
.color3 {
	background-color: #312ef5;
}
.color4 {
	background-color: #e66465;
}
textarea {
	width: 100%;
	padding: 0.5rem;
	border-radius: 0.3rem;
	border: 1px solid var(--border-bottom-color);
	background-color: var(--product-color);
	color: var(--text-color);
	margin-top: 1rem;
}
.btn-box {
	display: flex;
	justify-content: space-around;
	width: 100%;
	margin-top: 1rem;
}
.btn-form {
	cursor: pointer;
	border-radius: 0.3rem;
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
}
.btn-form.buy {
	background-color: var(--buy-color);
	color: var(--buy-text-color);
	border: none;
}
.btn-form.close {
	background-color: var(--toggle-color);
	color: var(--text-color);
	border: none;
}
/* ------------------------------------------------- */
footer {
	background-color: var(--footer-color);
	padding: 1rem;
	text-align: center;
	border-radius: 15px;
	padding: 25px 40px;
}
footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
footer li {
	display: inline-block;
	margin-right: 1rem;
}
footer a,
footer span {
	color: var(--footer-link);
	text-decoration: none;
	padding: 0.25rem 0.5rem;
	font-size: 1.1rem;
}
/* ------------------------------------------------- */
@media screen and (min-width: 320px) and (max-width: 430px) {
	header {
		justify-content: space-between;
	}
	.wrapper {
		justify-content: center;
	}
	.product-grid {
		justify-content: center;
		width: calc(100% - 1rem);
	}
	.product-card {
		width: 100%;
	}
	.modal-box {
		width: auto;
		font-size: 4vw;
	}
}

@media screen and (max-width: 767px) {
	.burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		cursor: pointer;
		z-index: 3;
		right: 0;
	}
	.burger span {
		background-color: var(--text-color);
		position: absolute;
		width: 100%;
		height: 2px;
		top: 9px;
	}
	.burger::before,
	.burger::after {
		content: '';
		background-color: var(--text-color);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
	}
	.burger::before {
		top: 0;
	}
	.burger::after {
		bottom: 0;
	}
	.theme-toggle {
		display: none;
	}
	.theme-toggle.active {
		display: block;
		position: absolute;
		top: 350px;
		z-index: 3;
		left: 50%;
		transform: translateX(-50%);
	}
	.category-menu {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--header-color);
	}
	.category-menu.active {
		display: block;
	}
	.category-menu ul {
		display: flex;
		list-style: none;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 35%;
	}
	.category-menu ul li {
		margin-bottom: 40px;
	}
	.category-menu ul li a {
		font-size: 25px;
	}
}
